body {
    background-color: rgb(255, 215, 0);
}

.button-container {
    text-align: center; 
}

.button-container button {
    margin: 5px;
}

.button-container button:nth-child(2) {
    margin-top: 150px;
}

/* Remove bullet points */
.button-list {
    list-style-type: none;
}

/* Remove list-style markers from list items within button-list class */
.button-list li {
    list-style: none !important; 
}
